@page "/{id:int?}"
@model BookingAppWEB.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReservationRooms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReservationD.Reservations)
        {
            string selectedRow = "";
            if (item.ID == Model.ReservationID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">

            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @{
                    foreach (var room in item.ReservationRooms)
                    {
                        @room.Room.ID @: @room.Room.RoomType <br />
                    }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
